.carouselSlide {
  cursor: pointer;
}

.carouselSlideSelected {
  display: block;
}

.carousel {
  max-width: rem(682);
  max-height: rem(1024);
}

.carouselSlides {
  justify-items: center;
  max-width: rem(682);

  max-height: rem(1024);
}
