.carouselSlide {
  cursor: pointer;
}

.carouselSlideSelected {
  outline: 1px solid light-dark(var(--mantine-color-dark-filled), var(--mantine-color-skin-filled));
}

.carousel {
  max-width: rem(682);
  max-height: rem(1024);
}

.carouselSlides {
  justify-items: center;
  max-width: rem(682);

  max-height: rem(1024);
}
