.input {
  transition: none;

  border: rem(1px) solid
    light-dark(var(--mantine-color-dark-filled), var(--mantine-color-skin-filled));

  &:focus-within {
    outline: rem(1px) solid
      light-dark(var(--mantine-color-dark-filled), var(--mantine-color-skin-filled));
    border-color: transparent;
  }
}
