.logo {
  padding-bottom: var(--mantine-spacing-xs);
  color: light-dark(var(--mantine-color-dark), var(--mantine-color-white));
}

.dark {
  @include dark {
    display: none;
  }

  @include light {
    display: block;
  }
}

.light {
  @include light {
    display: none;
  }

  @include dark {
    display: block;
  }
}
