.title {
  text-transform: uppercase;
}

.subtitle {
  margin-top: var(--mantine-spacing-xs);
  // color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));
}

.loginButton {
  outline: 1px solid light-dark(var(--mantine-color-dark-filled), var(--mantine-color-skin));
  // color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));
}

.signupText {
  margin-top: var(--mantine-spacing-xs);
  // color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-6));
}

.signupLink {
  @include hover {
    // color: light-dark(var(--mantine-color-dark-filled), var(--mantine-color-white));
  }
}
